<app-encounter-form></app-encounter-form>

<table class="table">
  <thead>
    <tr>
      <th>Encounter</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let encounter of encounters | async" [class.table-info]="encounter.active === true">
      <td>{{ encounter.name }}</td>
      <td class="d-flex justify-content-end">
          <a routerLink="/admin/encounters/{{encounter.key}}" class="btn btn-sm btn-primary">Edit</a>
          <a routerLink="/admin/encounters/{{encounter.key}}/delete" class="btn btn-sm btn-danger ml-1">Delete</a>
      </td>
    </tr>
  </tbody>
</table>