<!-- TODO: split between create and update -->
<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input class="form-control" [(ngModel)]="encounter.name" autofocus name="name" required minlength="2" maxlength="23" #name='ngModel'>
  </div>
  <button class="btn btn-primary mb-2" (click)='addEncounter()'[disabled]="!name.valid" >Add encounter</button>
</form>